html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: thistle;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
}


p,li,input,td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: grey;
    list-style: none;
}

input[type=submit] {
    background-color: black;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.wrapper {
    margin: 5%;
    text-align:center;
}

.navigation {
    width: 100vw;
}

a, a:hover {
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    color: purple;
    text-transform: lowercase;
}

div {
    padding-top:10px;
}

table {
    display: inline-block;
    background: white;
    padding: 10px;
    
}

td {
    border-bottom: 2px dotted grey;;
}