@font-face { font-family: "Corners"; src: url('HD-corners1.ttf'); } 

*{
    margin:0;
    padding:0;
    font-family: "Muli", sans-serif;
}

body {
    overflow-x:hidden;
    background-color: wheat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ab997f' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

h1 {
    font-family: "Ovo", serif;
    font-size: 60px;
    color: #2f2f2f;
}

h2 {
    font-family: "Ovo", serif;
    font-size: 28px;
}

h3 {
    font-family: "Ovo", serif;
    font-size: 22px;
}

.corner {
    font-family: "Corners", cursive;
    position:absolute;
    font-size: 60px;
    top:-22px;
    left:-7px;
    color: peru;
}

.cornerbottom {
    font-family: "Corners", cursive;
    position:absolute;
    font-size: 60px;
    transform: rotate(180deg);
    bottom:-38px;
    right:-7px;
    color: peru;
}

.box {
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 50px 5px rgba(171,153,127,1);
    -moz-box-shadow: 0px 0px 50px 5px rgba(171,153,127,1);
    box-shadow: 0px 0px 50px 5px rgba(171,153,127,1);
    border-radius: 2px;
    height: 300px;
    background-color: wheat;
    position:relative;
}

.white {
    position:absolute;
    height: 300px;
    top:0;
    width: 100vw;
    background-color:white;
    z-index:-1;
    margin-top: 0px;
}

button, input[type=submit] {
    background-color: wheat;
    border: 1px solid peru;
    border-radius:0;
    color: peru;
    font-family: "Ovo", serif;
    padding: 10px;
}

input[type=submit]:hover , button:hover {
    transform: scale(1.1);
    border: 1px solid peru;
  }

.submit {
    margin-top: 15px;
}
input {
    border: none;
    padding: 10px;
}

#result {
    position:absolute;
    background-color: white;
    padding: 10px;
    width:100%;
    margin: 0 auto;
    bottom:0px;
    right:0px;
}

.returnobject {
    font-size: 12px;
    background-color: wheat;
    padding: 10px;
    margin-top: 40px;
    border-top: 1px solid peru;
    max-width: 960px;
}

.message {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#security {
    display:block;
    margin: 0 auto;
    margin-top: 30px;
}

input[type=radio] {
    margin-top: 30px;
}

#ufo {
    height: 150px;
}

.wrap {
    height: 100vh;
}